<!DOCTYPE html>
<html>
  <head>
    <title>{{serviceName}} Reset Password Request</title>
    <style>
      body { font-family: Arial, sans-serif; }
    </style>
  </head>
  <body>
    <h1>{{serviceName}} Reset Password Request</h1>
    <p>
      You have requested to reset your password. Your reset password code is:
    </p>
    <p>
      <strong>{{resetPasswordCode}}</strong>
    </p>
    <p>If you did not make this request, please ignore this email.</p>
    <p>Best Regards,</p>
    <p>The {{serviceName}} Team</p>
  </body>
</html>